extends ../templates/startpage.pug
block content
    h2.cover-heading Hämtar menyträd med Azure Functions.
    ul#mainMenu
block scripts 
  script(src="/scripts/configuration.js")
  script(src="/scripts/azurefunctions.js")