extends ../templates/startpage.pug
block content
    h2.cover-heading Cosmos Db interactions with Azure Function


    button#createnewmenu Create New Menu
    
    
block scripts 
    script(src="/scripts/cosmosfunctions.js")